[package]
name = "rpkl"
version = "0.1.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/z-jxy/rpkl"
description = "Bindings and codegen for Apple's Pkl configuration language"
keywords = ["pkl", "apple", "codegen"]
readme = "README.md"

[dependencies]
rmp-serde = "1.1.2"
rmpv = "1.0.1"
serde = { version = "1.0", features = ["derive"] }

# Gated dependencies
convert_case = { version = "0.6.0", optional = true }
dhat = { version = "0.3.3", optional = true }
tracing = { version = "0.1.40", optional = true }
tracing-subscriber = { version = "0.3.18", optional = true }

[target.'cfg(windows)'.dependencies]
dunce = "1.0.4"

[dev-dependencies]
serde_json = "1.0.117"


[features]
default = []
trace = ["tracing", "tracing-subscriber"]
dhat-heap = ["dhat"]
dhat-ad-hoc = ["dhat"]
codegen = ["convert_case"]

[profile.release]
debug = 1
