[package]
name = "pkl-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.81"
rmp-serde = "1.1.2"
rmpv = "1.0.1"
serde_json = { version = "1.0.114", features = ["preserve_order"]}
serde = { version = "1.0", features = ["derive"] }
convert_case = "0.6.0"

